{
    "ConnectionStrings": {
        "DefaultConnection": "",
        "LinuxExample": "Server=localhost;Database=BeforeOurTime;User Id=sa;Password=Password123",
        "WindowsExample": "Server=localhost\\SQLEXPRESS;Database=BeforeOurTime;Trusted_Connection=True"
    },
    "Imports": {
        "Accounts": []
    },
    "Servers": {
        "Telnet": {
            "Listen": {
                "Address": "0.0.0.0",
                "Port": 2023
            }
        },
        "WebSocket": {
            "LogLevel":  2,
            "Listen": {
                "Address": "0.0.0.0",
                "Port": 2024
            }
        }
    },
    "Timing": {
        "Tick": 30000,
        "Delivery": 1000
    }
}
