{
    "ConnectionStrings": {
        "DefaultConnection": "Server=localhost\\SQLEXPRESS;Database=BeforeOurTime;Trusted_Connection=True;"
    },
    "Setup": "Setups",
    "Timing": {
        "Tick": 30000,
        "Delivery": 1000
    }
}